@import "../../styles/shared.scss";

.header {
  padding-inline: var(--brad);
  display: flex;
  justify-content: center;

  .header__left {
    width: 55%;
    display: inline-block;
  }
  .header__right {
    width: 45%;
    display: inline-block;
    text-align: right;
    justify-content: center;
  }
}

.above-block {
  @extend .text--big;
  padding-left: var(--brad);
  margin: 1rem 0 0.5rem 0;
}

.day-forecast__block {
  @extend .block;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    overflow-x: scroll;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-track {
    padding: 0 20px;
    margin: 0 20px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
    height: 5px;
    border-radius: 10px;
  }
  .day-forecast__pack {
    display: flex;
  }
  .day-forecast__subblock {
    display: inline-block;
    width: 5.25rem;

    p {
      text-align: center;
    }
    img {
      display: block;
      margin: 0 auto;
      @extend .icon--medium;
    }
  }
  .day-forecast__separator {
    display: flex;
    width: 2rem;

    .day-forecast__separator__line {
      display: inline-block;
      width: 0px;
      height: 100%;
      border: 2px solid transparent;
      border-image: linear-gradient(to top, rgba(white, 0%), white);
      border-image-slice: 1;
    }
    .day-forecast__separator__date {
      display: inline-block;
      margin: 0.3rem;
      writing-mode: vertical-lr;
    }
  }
}

.add-info-weather {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;

  p {
    margin-block: 0.2rem;
  }
  .add-info-weather__block--small {
    @extend .block;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: var(--brad);
    align-items: center;

    svg {
      height: 3.5rem;
      width: 3.5rem;
    }
  }
  .add-info-weather__block--half {
    grid-area: 1 / 3 / span 2 / span 2;
    display: flex;
    justify-content: center;
    @extend .block;
  }

  .add-info-weather__day-light-hours {
    width: 25rem;
    padding-bottom: var(--brad);
  
    .sun-direct__svg {
      height: 14.5rem;
      circle {
        animation-name: rotateAnimation;
        animation-duration: 60s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
    .under-sun-direct__div {
      display: flex;
      justify-content: space-between;
    }
  }
}

.add-info-weather__day-light-hours {
  width: 25rem;
  padding-bottom: var(--brad);

  .sun-direct__svg {
    height: 14.5rem;
    circle {
      animation-name: rotateAnimation;
      animation-duration: 60s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
  .under-sun-direct__div {
    display: flex;
    justify-content: space-between;
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1050px) {
  .add-info-weather__day-light-hours {
    width: 21rem !important;
    padding-bottom: var(--brad);
    margin: auto;

    .sun-direct__svg {
      height: 12rem !important;
    }
  }
}
@media (max-width: 808px) {
  .add-info-weather {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    .add-info-weather__block--half {
      grid-area: 3 / 1 / span 2 / span 2;
    }
  }
  .add-info-weather__day-light-hours {
    width: 25rem !important;
    padding-bottom: var(--brad);
    margin-block: 0;

    .sun-direct__svg {
      height: 14.5rem !important;
    }
  }
}

@media (max-width: 648px) {
  .day-forecast__block {
    .day-forecast__subblock {
      width: 4.25rem;
    }
    .day-forecast__separator {
      width: 1.75rem;

      .day-forecast__separator__date {
        margin: 0.3rem;
      }
    }
  }
  .add-info-weather {
    gap: var(--gap);

    .add-info-weather__block--small {
      svg {
        height: 3rem;
        width: 3rem;
      }
    }
  }
}

@media (max-width: 468px) {
  .header {
    display: flex;
    flex-direction: column;

    .header__left {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      //gap: 0.5rem;

      .header__place {
        justify-self: left;
        font-size: 1.25rem;
        margin-block: 0.5rem;
      }
      .header__date {
        justify-self: right;
        font-size: 1.25rem;
        margin-block: 0.5rem;
      }
      .header__brief {
        justify-self: center;
        align-self: center;
        grid-area: 2 / 1 / span 1 / span 2;
        margin-bottom: 0.5rem;
      }
    }
    .header__right {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.5rem;

      .header__feel {
        font-size: 1.25rem;
        margin-block: 0.5rem;
      }
    }
  }
  .add-info-weather__day-light-hours {
    width: 100% !important;
    margin-inline: var(--brad);
    margin-block: auto;

    .sun-direct__svg {
      width: 100% !important;
      height: auto !important ;
      aspect-ratio: 9/5;
    }
  }
}
