$shadow: 2px 2px 2px black;

.nonselectable {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.text--superlarge {
  font-size: 6.5rem;
  margin-block: 1.5rem;
}
.text--large {
  font-size: 3.25rem;
  margin-block: 1.5rem;
}
.text--big {
  font-size: 1.75rem;
  margin-block: 1rem;
}
.text--small {
  font-size: 1rem;
  margin-block: 0.75rem;
}
.icon--medium {
  width: 3.5rem;
  height: 3.5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: $shadow;
}
.button--simple {
  border: solid 0.375rem white;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: $shadow;
  padding-inline: 0.5rem;

  &:hover {
    background-color: white;

    p {
      color: black;
      font-weight: 500;
      text-shadow: none;
    }

    &:active {
      background-color: black;
      border-color: black;

      p {
        color: white;
        font-weight: 500;
        text-shadow: none;
      }
    }
  }
}
.block {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1.5rem;
}
.search-city {
  margin-top: 0.5rem;
}
footer {
  margin-top: 0.5rem;
  height: 6rem;
  @extend .block;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .rights {
    align-self: flex-end;
  }

  a {
    text-decoration: none;
    color: white;
    margin: 0.5rem;
  }
}
@media (max-width: 808px) {
  .text--superlarge {
    font-size: 5.5rem;
    margin-block: 1.5rem;
  }
  .text--large {
    font-size: 2.75rem;
    margin-block: 1.5rem;
  }
}